div {
    width: 100px;
    height: 100px;
    background-color: red;
    /* animation-name: example; */
    /* animation-duration: 4s; */
    position: relative;
    /* animation: movecolor 3s infinite; */
    animation: colortransform 0.001s infinite;
}
@kayframes example {0% {background-color: red;}
25% {background-color: blue;}
50% {background-color: brown;}
75% {background-color: chocolate;}
100% {background-color: pink;}
}

@keyframes movecolor {
0% {background-color: red; left: 0; top: 0;}
25% {background-color: blue; left:150px; top: 150px;}
50% {background-color: brown; left: 150px; top: 300px}
75% {background-color: chocolate;left: 0px; top: 150px;}
100% {background-color: pink; left: 0px; top:0px}
}

@keyframes colortransform {
0% {background-color: red; transform: rotate(0deg); scale: (1);}
25% {background-color: blue; transform: rotate(90deg); scale: (2);}
50% {background-color: green:(3, 247, 64, 0.354); transform: rotate(180deg);scale: (1)}
75% {background-color: rgb(255, 0, 0) ;transform: rotate(270deg); scale: (2);}
100% {background-color: white; transform: rotate(360deg); scale: (1);}
}

@keyframes colortransform  {
    0%{transform: scale(1);}
       25%{transform: scale(2);}
          50%{transform: scale(3);}
             75%{transform: scale(4);}
                100%{transform: scale(5);}
}